[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/.vim/bundle/vim-bufferline"]
	path = vim/.vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
