"*":
  "activate-power-mode":
    autoToggle: false
    comboMode:
      activationThreshold: 5
    particles:
      colours:
        type: "random"
    playAudio:
      enabled: true
    screenShake:
      maxIntensity: 5
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "language-clojure"
      "language-csharp"
      "language-coffee-script"
      "language-perl"
      "language-php"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
    ]
  "exception-reporting":
    userId: "ad477324-f7fe-a0fb-79ad-e73a32ad5c07"
  "tree-view": {}
  welcome:
    showOnStartup: false
